div.has-text-centered    
    h1.title 
        | Record Match Scores

=form_with model: @match_tournament do |form|
    =form.label "#{@match_tournament.team_one}"
    br 
    =form.text_field :team_one_score
    br
    =form.label "#{@match_tournament.team_two}"
    br 
    =form.hidden_field :team_one, value: @match_tournament.team_one
    =form.hidden_field :team_two, value: @match_tournament.team_two
    =form.hidden_field :tournament_id, value: @tournament.id
    =form.text_field :team_two_score

    br 
    br
    =form.submit ("Save scores")